In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df_mars = pd.read_csv("DataMars.csv",comment='#')
slice_ = slice(306,580)
x = df_mars.iloc[slice_, 1]
x = df_mars.iloc[slice_, 1].to_numpy()
x = df_mars.iloc[slice_, 1].date.dt.day
y = df_mars.iloc[slice_, 3]
# x = np.arange('2016-01', '2016-10-31', dtype = 'datetime64[D]')

fig, ax = plt.subplots(figsize=(10,6))

plt.title('Rétrograde de Mars')
plt.xlabel('Date (mois)')
plt.ylabel('Longitude (°)')
#plt.xlim(np.datetime64('2016-01', 'M'), np.datetime64('2016-11', 'M'))
plt.plot(x, y, label = "model")
plt.legend()
plt.show()

AttributeError: 'Series' object has no attribute 'date'

In [ ]:
x

In [ ]:
#Paramètres
teta0 = 4.18879
rv_terre = 365
rv_mars = 687
r_mars =228
r_terre = 150

#Discrétisation du temps 
temps = np.arange(2750,3350,1)
dates = np.arange('2021-09', '2021-10', dtype = 'datetime64[D]') 
angle_terre = (2*np.pi)* temps/rv_terre
angle_mars = (2*np.pi)* temps /rv_mars
T = (2*np.pi)/rv_terre
Tmars = (2*np.pi)/rv_mars
xm= r_mars*np.cos(angle_mars+teta0)
ym= r_mars*np.sin(angle_mars+teta0)
xt = r_terre*np.cos(angle_terre+teta0)
yt = r_terre*np.sin(angle_terre+teta0)
dx = xm-xt
dy=ym-yt
teta= np.arctan2(dy, dx)*180
plt.plot(temps,teta)
plt.grid()
plt.ylim(200,270)
plt.xlim(3025,3200)
plt.show

In [2]:
import numpy as np
 
def circum(t, R=0, T=1, origin=0):
	point=2*np.pi/T * t + origin
	return {"x" : R * np.cos(point), "y" : R * np.sin(point)}
# circum()
 
# Création d'un tableau de 20 temps divers
tab=tuple(range(20))
print(", ".join("t={}".format(x) for x in tab), type(tab))
 
# Traitement du tableau
for t in tab:
	pos=circum(t, R=10, T=4)
	print("t={}, x={}, y={}".format(t, pos["x"], pos["y"]))

t=0, t=1, t=2, t=3, t=4, t=5, t=6, t=7, t=8, t=9, t=10, t=11, t=12, t=13, t=14, t=15, t=16, t=17, t=18, t=19 <class 'tuple'>
t=0, x=10.0, y=0.0
t=1, x=6.123233995736766e-16, y=10.0
t=2, x=-10.0, y=1.2246467991473533e-15
t=3, x=-1.8369701987210296e-15, y=-10.0
t=4, x=10.0, y=-2.4492935982947065e-15
t=5, x=3.061616997868383e-15, y=10.0
t=6, x=-10.0, y=3.673940397442059e-15
t=7, x=-4.2862637970157365e-15, y=-10.0
t=8, x=10.0, y=-4.898587196589413e-15
t=9, x=5.5109105961630896e-15, y=10.0
t=10, x=-10.0, y=6.123233995736766e-15
t=11, x=-2.4499125789312944e-14, y=-10.0
t=12, x=10.0, y=-7.347880794884118e-15
t=13, x=-9.803364199544707e-15, y=10.0
t=14, x=-10.0, y=8.572527594031473e-15
t=15, x=-2.6948419387607653e-14, y=-10.0
t=16, x=10.0, y=-9.797174393178826e-15
t=17, x=-7.354070601250003e-15, y=10.0
t=18, x=-10.0, y=1.1021821192326179e-14
t=19, x=-2.9397712985902356e-14, y=-10.0